.type-23 .breadcrumb {
  background: #ffffff;
}
.type-23 .shop-loop .open-filter {
  text-decoration: none;
  color: #0a0a0a;
}
.type-23 .shop-loop .drop-collape {
  background: #E9ECEF;
}
.type-23 .shop-loop .drop-collape .filter-inner ul li {
  list-style: none;
  margin-top: 5px;
  margin-bottom: 15px;
  margin-left: -30px;
}
.type-23 .shop-loop .drop-collape .filter-inner ul li a {
  color: #0a0a0a;
}
.type-23 .shop-loop .drop-collape .filter-inner ul li a:hover {
  color: #23527c;
}
.type-23 .shop-loop .drop-collape .filter-inner .widget-title {
  font-family: "Karla,Arial,Helvetica,sans-serif";
  font-weight: 700;
  color: #0a0a0a;
  margin: 10px;
  font-size: 16px;
  text-transform: uppercase;
}
.type-23 .shop-loop .drop-collape .filter-inner .line-botom {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  width: 40px;
  margin-left: 10px;
}
.type-23 .shop-loop .drop-collape .filter-inner .filter-black {
  background-color: #0c0c0c;
  width: 25px;
  height: 25px;
  position: relative;
  display: inline-block;
  border-radius: 50%;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  vertical-align: middle;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  margin-right: 10px;
}
.type-23 .shop-loop .drop-collape .filter-inner .filter-browm {
  background-color: #aa6927;
  width: 25px;
  height: 25px;
  position: relative;
  display: inline-block;
  border-radius: 50%;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  vertical-align: middle;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  margin-right: 10px;
}
.type-23 .shop-loop .drop-collape .filter-inner .filter-yellow {
  background-color: #aa6927;
  width: 25px;
  height: 25px;
  position: relative;
  display: inline-block;
  border-radius: 50%;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  vertical-align: middle;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  margin-right: 10px;
}
.type-23 .shop-loop .drop-collape .filter-inner .filter-red {
  background-color: red;
  width: 25px;
  height: 25px;
  position: relative;
  display: inline-block;
  border-radius: 50%;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  vertical-align: middle;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  margin-right: 10px;
}
.type-23 .shop-loop .drop-collape .filter-inner .filter-green {
  background-color: green;
  width: 25px;
  height: 25px;
  position: relative;
  display: inline-block;
  border-radius: 50%;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  vertical-align: middle;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  margin-right: 10px;
}
.type-23 .shop-loop .drop-collape .filter-inner .filter-blue {
  background-color: blue;
  width: 25px;
  height: 25px;
  position: relative;
  display: inline-block;
  border-radius: 50%;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  vertical-align: middle;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  margin-right: 10px;
}
.type-23 .shop-loop .drop-collape .filter-inner .count {
  float: none;
  vertical-align: super;
  font-size: 12px;
}
