.type-19 .question {
  margin-top: 25px;
}
.type-19 .question li {
  display: inline-block;
}
.type-19 .question li a {
  background: none;
  color: #000000;
}
.type-19 .question li a:hover {
  color: #68BDB9;
}
.type-19 .question li a::after {
  content: "";
  position: absolute;
  top: 12px;
  height: 14px;
  margin: 0 15px;
  display: inline-block;
  vertical-align: bottom;
  width: 1px;
  background-color: #ADADAD;
  -webkit-transform: rotate(25deg);
  -ms-transform: rotate(25deg);
  transform: rotate(25deg);
}
.type-19 .tab-content a {
  text-decoration: none;
}
.type-19 .ask {
  margin-top: 30px;
  border: 5px solid #e7e4e4;
  padding: 30px;
  width: 100%;
  height: 100%;
}
.type-19 .ask .btn {
  background: seagreen;
  color: #fff;
}
.type-19 .collapsible-link {
  width: 100%;
  position: relative;
  text-align: left;
}
.type-19 .collapsible-link::before {
  content: '\f107';
  position: absolute;
  top: 50%;
  right: 0.8rem;
  transform: translateY(-50%);
  display: block;
  font-family: 'FontAwesome';
  font-size: 1.1rem;
}
.type-19 .collapsible-link[aria-expanded='true']::before {
  content: '\f106';
}
